.base {
	width: 800px;
	height: 500px;
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
}

.shared_property {
	border: 1px solid black;
	display: inline-block;
}

.half {
	width: 50%;
	height: 200px;
}

.third {
	width: 33.33%;
	height: 300px
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.gray {
	background-color: gray;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}